{% extends 'base.html.twig' %}

    {% block content %}
        <div class="container">
            <main>
                <div class="py-5 text-center">
                    <h2>Votre Profil</h2>
                    <p class="lead">Veuillez renseigner vos informations personnelles</p>
                </div>

                <div class="row g-5">
                    <div class="col-md-5 col-lg-4 order-md-last">
                        <h4 class="mb-3">Votre photo de profil</h4>
                        <img src="{{ asset('/public/uploads/'~app.user.photo) }}" alt="" width="100">
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <h4 class="mb-3">Vos Informations</h4>
                        {{ form_start(form) }}
                        <div class="row g-3">
                            <div class="col-12">
                                {{ form_row(form.username) }}
                            </div>

                            <div class="col-12">
                                {{ form_row(form.nom) }}
                            </div>

                            <div class="col-12">
                                {{ form_row(form.prenom) }}
                            </div>

                            <div class="col-12">
                                {{ form_row(form.images) }}
                            </div>

                            <div class="col-12">
                                {{ form_row(form.password) }}
                            </div>
                        </div>

                        <hr class="my-4">

                        {{ form_row(form.Confirmer) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </main>
        </div>
    {% endblock %}