{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}


    {% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
            <h1 class="form-title">Veuillez vous inscrire</h1>
            <div class="form">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username, {
                    label: 'Nom de Compte',
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de Passe',
                }) }}
                <button type="submit" class="submit">Inscription</button>
                {{ form_end(registrationForm) }}
            </div>
        {% endblock %}

