<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>
            {% block title %}
                {% if title is defined %}{{title}}{% else %}SnowTricks{% endif %}
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <header>
            <h1>SnowTricks</h1>
            <a href="{{path('app_homepage_index')}}">Accueil</a>
            <a href="{{path('tricks')}}">Figures</a>
            {% if not app.user %}
                <a href="{{path('app_login')}}">Connexion</a>
                <a href="{{path('app_register')}}">Inscription</a>
            {% endif %}
            {% if app.user %}
                <a href="{{path('profile', {'id':app.user.id})}}">Profil</a>
                <a href="{{ path('app_logout') }}">Deconnexion</a>
            {% endif %}

        </header>
    {% endblock %}

    <div class="main">
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </div>


    {% block footer %}
        <footer>
            <div>
                <p>.</p>
            </div>
        </footer>
    {% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>