<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% block title %}
                {% if title is defined %}{{title}}{% else %}SnowTricks{% endif %}
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% endblock %}
    </head>
    <body>

    {% block header %}
        <header id="header" class="bck1 border-bottom">
            <div class="container">
                <h1>{% if title is defined %}{{title}}{% else %}Header{% endif %}</h1>
            </div>
        </header>
    {% endblock %}

    {% block nav %}
        <nav>
            <ul>
                <li class="nav-item {% if mainNavHome is defined %}active{% endif %}">
                    <a href="{{path('app_homepage_index')}}">Accueil</a>
                </li>
            </ul>
            <ul>
                <li>
                   {#  <a href="{{path('logout')}}">Déconnexion</a> #}
                </li>
                <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                    {# <a href="{{path('login')}}">Connexion</a> #}
                    <a href="{{ path('test') }}">Test</a>
                </li>
                <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
                    <a href="{{path('app_register')}}">Inscription</a>
                </li>
            </ul>
        </nav>
    {% endblock %}


    {% block footer %}
        <footer>
            <div>
                <h4>Footer</h4>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}{% endblock %}
    </body>
</html>