{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}
        <h1>Liste des figures</h1>
        {% if app.user %}
        <a href="{{path('add_tricks')}}">Ajoutez une figure</a>
        {% endif %}
        {% for trick in tricks %}
            <h2>
                {{ trick.nom }}
                {% if app.user %}
                <a href="{{ path('update_trick', {'id':trick.id}) }}"> Modifier</a>
                <a href="{{ path('delete_trick', {'id':trick.id}) }}"> Supprimer</a>
                {% endif %}
            </h2>
            <div>{{ trick.description }}</div>
            <div>{{ trick.category }}</div>
        {% else %}
            <p>Il n'y aucunes figures pour le moment.</p>
            {% if app.user %}
            <p>Ajoutez en une !</p>
            {% endif %}
        {% endfor %}
    {% endblock %}
{% endblock %}
