{% extends 'base.html.twig' %}

    {% block content %}
        <div class="content">
            {% if app.user %}
                <a class="a-tricks" href="{{path('add_tricks')}}">Ajoutez une figure</a>
            {% endif %}
            <h1>Liste des figures</h1>
            {% for trick in tricks %}
                <div class="content-trick">
                    {% if app.user %}
                        <a class="a-tricks" href="{{ path('update_trick', {'id':trick.id}) }}"><img src="../../public/assets/img/stylo.jpg" alt="Booking Image"></a>
                        <a class="a-tricks" href="{{ path('delete_trick', {'id':trick.id}) }}"><img src="../../public/assets/img/corbeille.jpg" alt="Booking Image"></a>
                    {% endif %}
                    <h2>
                        <a class="a-tricks-title" href="{{path('trick', {'id':trick.id})}}">{{ trick.nom }}</a>
                    </h2>
                    <div>{{ trick.description }}</div>
                    <div>{{ trick.category }}</div>
                </div>
            {% else %}
                <p>Il n'y aucunes figures pour le moment.</p>
                {% if app.user %}
                <p>Ajoutez en une !</p>
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
