{% extends 'base.html.twig' %}

    {% block content %}
        <h1>Liste des figures
            {% if app.user %}
            <a class="a-tricks" href="{{path('add_tricks')}}">Ajouter</a>
            {% endif %}
        </h1>
        {% for trick in tricks %}
            <div class="trick">
                <a href="{{path('trick', {'id':trick.id})}}"><img src="{{ asset('/public/uploads/'~trick.getimages.first.url) }}" alt="" width="160"></a>
                <h3>
                    <a class="a-tricks-title" href="{{path('trick', {'id':trick.id})}}">{{ trick.nom }}</a>
                    {% if app.user %}
                        <a class="a-tricks" href="{{ path('update_trick', {'id':trick.id}) }}"><img src="../../public/assets/img/stylo.jpg" alt="Booking Image"></a>
                        <a class="a-tricks" href="{{ path('delete_trick', {'id':trick.id}) }}"><img src="../../public/assets/img/corbeille.jpg" alt="Booking Image"></a>
                    {% endif %}
                </h3>
            </div>
        {% else %}
            <p>Il n'y aucunes figures pour le moment.</p>
            {% if app.user %}
            <p>Ajoutez en une !</p>
            {% endif %}
        {% endfor %}
    {% endblock %}
