{% extends 'base.html.twig' %}

    {% block content %}
        <div class="container">
        {% for trick in tricks %}
            <div class="trick">
                {% if trick.getimages.first %}
                    <a href="{{path('trick', {'slug':trick.slug})}}"><img src="{{ asset('/public/uploads/'~trick.getimages.first.url) }}" alt="" width="160"></a>
                {% else %}
                    <a href="{{path('trick', {'slug':trick.slug})}}"><img src="../../public/assets/img/blank-profile-picture-973460_1280.png" alt="" width="160" height="213.33"></a>
                {% endif %}
                <h3>
                    <a class="a-tricks-title" href="{{path('trick', {'slug':trick.slug})}}">{{ trick.nom }}</a>
                    {% if app.user %}
                        <a class="a-tricks" href="{{ path('update_trick', {'id':trick.id}) }}"><img src="../../public/assets/img/stylo.jpg" alt="Booking Image"></a>
                        <a class="a-tricks" href="{{ path('delete_trick', {'id':trick.id}) }}"><img src="../../public/assets/img/corbeille.jpg" alt="Booking Image"></a>
                    {% endif %}
                </h3>
            </div>
        {% else %}
            <p>Il n'y aucunes figures pour le moment.</p>
            {% if app.user %}
            <p>Ajoutez en une !</p>
            {% endif %}
        {% endfor %}
        </div>
    {% endblock %}
