{% extends 'base.html.twig' %}

    {% block content %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="container">
            <main>
                <div class="py-5 text-center">
                    <h2>Modifier une Figure</h2>
                    <p class="lead">Veuillez remplir les informations de la figure que vous souhaitez modifier</p>
                </div>

                <div class="trick-images">
                    {% for image in trick.getimages %}
                        <img src="{{ asset('/public/uploads/'~image.url) }}" alt="" width="100">
                        <a href="{{ path('delete_image', {'id':image.id}) }}"><img src="../../public/assets/img/corbeille.jpg" alt="Booking Image"></a>
                    {% endfor %}
                </div>

                <div class="videos">
                    {% for video in trick.getvideos %}
                        <iframe width="280" height="157.5" src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <a href="{{ path('delete_video', {'id':video.id}) }}"><img src="../../public/assets/img/corbeille.jpg" alt="Booking Image"></a>
                    {% endfor %}
                </div>

                <div class="row g-5">
                    <div class="col-md-7 col-lg-8">
                        <h4 class="mb-3">Figure Actuelle</h4>
                        {{ form_start(form) }}
                        <div class="row g-3">
                            <div class="col-12">
                                {{ form_row(form.nom) }}
                            </div>

                            <div class="col-12">
                                {{ form_row(form.description) }}
                            </div>

                            <div class="col-12">
                                {{ form_row(form.category) }}
                            </div>

                            <div class="col-12">
                                {{ form_row(form.videos.vars.prototype) }}
                            </div>

                            <div class="col-12">
                                {{ form_row(form.images) }}
                            </div>
                        </div>

                        <hr class="my-4">

                        {{ form_row(form.Confirmer) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </main>
        </div>
    {% endblock %}